<%= form_for(@virtual_hub) do |f| %>
  <%= render partial: 'errors', locals: {vhub: @virtual_hub} %>
  <%= f.hidden_field :name %>
  <div><%= f.submit 'Create', class: 'btn btn-info' %></div>
<% end %>

