<ul class="nav nav-pills pull-right">
  <li range='near' class="<%= 'active' if range=='near' || range.nil? %>" data-title="50m" rel="tooltip">
    <a>Near</a>
  </li>
  <li range='mid' class="<%= 'active' if range=='mid' %>"data-title="500m" rel="tooltip">
	  <a>Mid</a>
	</li>
  <li range='far' class="<%= 'active' if range=='far' %>" data-title="5km" rel="tooltip">
	  <a>Far</a>
	</li>
</ul>