<div class="span12">
  <div id="header">
    <div id="about">
           <h4>What is Belloh!<sup>TM</sup></h4>

           Belloh is a platform where users can shout out a message to anywhere in the world. It is a location based software.
           It will find messages within a specified radius of your current location.

           People are shy around people. Instead of speaking out in public, you can shout out a message.

           Buzzer detector on your mobile app. The sensor will be wired to your Mobile App. Everytime something
           posts something around your radius, you will be buzzed on your phone.

           <img src="http://us.cdn2.123rf.com/168nwm/virinka/virinka1205/virinka120500039/13484180-cartoon-hippo.jpg" />

           <h4>Realtime Social Networking</h4>

           Every post you get to see the time of the post. You get it right away and get to see what is being posted
           around you in real time.

           <h4>Customizable Radius</h4>

           You can customize your radius.
           <img width="200px" src="http://www.easymovinglabor.com/maps/chicago.jpg" />


           <h4>Privacy concerns</h4>
           The location GPS is an estimate of where you are. It has no way of knowing exactly where you are.
           And the message will be anonymous therefore there is no way of knowing where you have posted it.

           Belloh will not in anyway share any of those information with a third party. As there are no personal
           information to share in the first place

           <img width="140px" src="http://www.forwest.com/images/s/Authentic_Hermes_Silvertone_Hippo_Cadena_Lock_Charm_Pendant_3.jpg" />

           <h4>No Signup/Sign in required</h4>
           You can use our platform anonymously.

           <h4>Integrated Platform within Web and Mobile</h4>

           You may use our platform in any Internet Enabled devises. We have native Apps that can be used as well.
           The mobile Apps are in the making as we speak.


           <h4>No social footprints</h4>

           You can confidently use your services without any undesired repercussions and consequences.

           <h4>Uses of Belloh!<sup>TM</sup></h4>

           You get to see what happens around you anonymously. Seen a cute girl and afraid to say Hi? Using Belloh
           you are compliment on her beauty.

           Belloh is used to say something if you don't want to say something. It is like talking without using our lips.


           It is different from twitter because twitter you need followers. Most people use twitter for professional
           purposes.
           <br />
           <br />
           Examples: [Girl in white] @ [Boy in Black] (You are Cute)

           It can be used in a rally or a protests.

           The posts are anonymous. So there are no way of knowing who posted what. Whereas on Twitter on Facebook
           people will find out who posted them.

           Ice breaker:

           <br />

           <h4>Hubs</h4>

           A Hub represent a popular landmark or attraction. For example, an University, a Shopping center,
           a tourism attraction.

           University of Waterloo will have its own private hub.
           <br/>
           Wilfrid Laurier University will have its own private hub.

           <h4>Desks, Doors, Windows, whiteboards, Walls, and Cubicles</h4>

           You may write and post in any of those places.



           <h4>Virtual Hubs</h4>
           Users may choose to create their Virtual Hubs which only be found by those who already know where it is.

           This is where it gets interesting.

           You can create any arbitrary Virtual Hubs. Say Gandor in the Lord of the Rings.

           Hogwards in the Harry Potter.

           Even more creatively, you may create a space up in Mars or Jupiter.


           <h4>Sending Emoticons and Smileys</h4>

           <h4>Sending Pictures and Short Videos (Vine)</h4>


           <h4>Scoping out the location</h4>
           You want to find out whats happening around the location before you go to the location.



    </div>
  </div>
</div>