<div class="span12">
  <div id="header">
    <div id="about" class="row-fluid">
        <div class="span3">
            <div class="info-menu">
              <div class="info-cell">
                test1
              </div>
              <div class="info-cell">
                test2
              </div>

            </div>
        </div>

        <div class="span9">

           <h4>What is Belloh!<sup>TM</sup></h4>

           Belloh is a platform where users can shout out a message to anywhere in the world. It is a location based software.
           It will find messages within a specified radius of your current location.

           People are shy around people. Instead of speaking out in public, you can shout out a message.

           Buzzer detector on your mobile app. The sensor will be wired to your Mobile App. Everytime something
           posts something around your radius, you will be buzzed on your phone.

           <img src="http://us.cdn2.123rf.com/168nwm/virinka/virinka1205/virinka120500039/13484180-cartoon-hippo.jpg" />

           <h4>100% Free</h4>

           Our platform and service will always be free. Our Apps will be free to download

           <h4>Realtime Social Networking</h4>

           Every post you get to see the time of the post. You get it right away and get to see what is being posted
           around you in real time.

           <h4>Customizable Radius</h4>

           You can customize your radius.
           <img width="200px" src="http://www.easymovinglabor.com/maps/chicago.jpg" />


           <h4>Privacy concerns</h4>
           The location GPS is an estimate of where you are. It has no way of knowing exactly where you are.
           And the message will be anonymous therefore there is no way of knowing where you have posted it.

           Belloh will not in anyway share any of those information with a third party. As there are no personal
           information to share in the first place

           <img width="140px" src="http://www.forwest.com/images/s/Authentic_Hermes_Silvertone_Hippo_Cadena_Lock_Charm_Pendant_3.jpg" />

           <h4>No Signup/Sign in required</h4>
           You can use our platform anonymously.

           <h4>Integrated Platform within Web and Mobile</h4>

           You may use our platform in any Internet Enabled devises. We have native Apps that can be used as well.
           The mobile Apps are in the making as we speak.


           <h4>No social footprints</h4>

           You can confidently use your services without any undesired repercussions and consequences.

           <h4>Uses of Belloh!<sup>TM</sup></h4>

           You get to see what happens around you anonymously. Seen a cute girl and afraid to say Hi? Using Belloh
           you are compliment on her beauty.

           Belloh is used to say something if you don't want to say something. It is like talking without using our lips.


           It is different from twitter because twitter you need followers. Most people use twitter for professional
           purposes.
           <br />
           <br />
           Examples: [Girl in white] @ [Boy in Black] (You are Cute)

           It can be used in a rally or a protests.

           The posts are anonymous. So there are no way of knowing who posted what. Whereas on Twitter on Facebook
           people will find out who posted them.

           Ice breaker:

           <br />

           <h4>Hinting others</h4>

           If you are a pretty Girl and you get hit on a lot. You are at a club with your boy friend

           You may say something like

           [girl in red] @ [guys who tries to hit on me]
           <br />
           (I have a boyfriend)

           <h4>Hubs</h4>

           A Hub represent a popular landmark or attraction. For example, an University, a Shopping center,
           a tourism attraction.

           University of Waterloo will have its own private hub.
           <br/>
           Wilfrid Laurier University will have its own private hub.

           <h4>Desks, Doors, Windows, whiteboards, Walls, and Cubicles</h4>

           You may write and post in any of those places.

           When you study in one of the University Library's cubicle. You can see all things carved out messages.
           We can have all those messages on a cubicle that has been put on Belloh! and you may shout messages
           without actually.

           Or jack smith's balcony.

           You may post funny things have have happened on the balcony.

           <h4>Any Objects</h4>

           Cigarette Packs. Like Belmont, Jack Player.

           You can comment on the toilet seat when you are taking a dump.

           You may comment on any objects that you may describe.

           A chair. A Water Fountain at the third floor of the library.

           Comment on any objects anonymously.

           <h4>Warning others</h4>

           Lets say a particular dish is really bad in a restaurant, you may shout up to the restaurant and warns
           people the dish is really bad.

           Say if there is a peddle in a bathroom, you may warn people that there is a peddle in the bathroom and
           tell people to be careful.

           <h4>Virtual Hubs</h4>
           Users may choose to create their Virtual Hubs which only be found by those who already know where it is.

           This is where it gets interesting.

           You can create any arbitrary Virtual Hubs. Say Gandor in the Lord of the Rings.

           Hogwards in the Harry Potter.

           Even more creatively, you may create a space up in Mars or Jupiter.


           <h4>Sending Emoticons and Smileys</h4>

           We may send interactive things, like Roses and etc anonymously.

           <h4>Sending Pictures and music, and Short Videos (Vine), and long videos</h4>


           <h4>Scoping out the location</h4>
           You want to find out whats happening around the location before you go to the location.

           For example, if you want to go to a Club at night. You are not sure how the line is. Before you go,
           you may pinpoint that location on Belloh. And you can see the messages around. People may post
           things like, it is packed, the lineup is too long. Its not worth it.

           Or if you are not too sure to go to an event. You can find out if people likes it before you go there.

           <h4>Features</h4>

           You may export a message if you want to. On the phone, if you want to export a messge

           Filtering system. You may choose to filter out any things in the post.

           Censorship on.

           You may choose to censor out certain words and phrases.


           <h4>Voting system</h4>

           We will have a voting system.
           Where comments who receive too many negative reviews will be partilly hidden.

           It will be a thumb up and thumb down buttons.

           <h4>Leaving your mark around the world</h4>

           You may shout out to the world that say you are here.

        </div>

    </div>
  </div>
</div>