<div class="info-odd">
  <div class="row">

    <div class="hubbable">
        <div class="hubbable-title"><h4>Intersection</h4></div>
        <div class="hubbable-img">
          <img src="http://www.presentermedia.com/files/clipart/00003000/3558/intersection_street_sign_image_500_clr.png?animid=3558?ismember=?primaryhue=120?reflect=none?shad=none?userid=">

        </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Door</h4></div>
      <div class="hubbable-img">
        <%= image_tag "hubs/door.png"  %>

      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Elevator</h4></div>
      <div class="hubbable-img">
        <img src="http://images.clipartlogo.com/files/ss/thumb/734/73407913/elevator-with-closed-door_small.jpg" />

      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>City</h4></div>
      <div class="hubbable-img">
        <img src="http://touquettois.com/wp-content/uploads/2013/07/modern-cartoon-city.jpg" />

      </div>
    </div>

  </div>

  <div class="row">

    <div class="hubbable">
      <div class="hubbable-title"><h4>Restaurant</h4></div>
      <div class="hubbable-img">
        <img src="http://preview.turbosquid.com/Preview/2013/03/10__14_15_07/4.jpg905c1d94-9639-4cc2-914b-f9f02e9a071aLarge.jpg">

      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>School Bus</h4></div>
      <div class="hubbable-img">
        <img src="http://www.lifeslittlepuzzle.com/wp-content/uploads/2011/08/Bus-Cartoon.jpg">


      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Playground</h4></div>
      <div class="hubbable-img">
        <img src="http://hdwallpaperfresh.com/wp-content/uploads/2013/04/cartoon-water-park.jpg" />

      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Book</h4></div>
      <div class="hubbable-img">
        <img src="http://www.dyersville.lib.ia.us/images/books-and-e-books/book-1.png/image_preview" />

      </div>
    </div>

  </div>

  <div class="row">

    <div class="hubbable">
      <div class="hubbable-title"><h4>Dog</h4></div>
      <div class="hubbable-img">
        <img src="http://www.vector-eps.com/wp-content/gallery/cartoon-dog-characters/cartoon-dog-character1.jpg">

      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Computer</h4></div>
      <div class="hubbable-img">
        <img src="http://www.clker.com/cliparts/a/e/f/a/119710123263398684DTRave_Cartoon_Computer_and_Desktop.svg.med.png">


      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Playground</h4></div>
      <div class="hubbable-img">
        <img src="http://hdwallpaperfresh.com/wp-content/uploads/2013/04/cartoon-water-park.jpg" />

      </div>
    </div>

    <div class="hubbable">
      <div class="hubbable-title"><h4>Book</h4></div>
      <div class="hubbable-img">
        <img src="http://www.dyersville.lib.ia.us/images/books-and-e-books/book-1.png/image_preview" />

      </div>
    </div>

  </div>
</div>
