<div class="top-div">
  <div class="geo-bar">
    <div id="geostatus">Getting current location...</div>

    <div class="pull-right">
      <img class="locator-img" src ="http://png.findicons.com/files/icons/2597/the_clean_desk/40/location_fav.png" />
    </div>
  </div>

  <div class="top-content">
    <div id="new_post_box">
	    <%= render 'posts/form' %>
    </div>
    <div class="map-box">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false">
    </div>
  </div>
</div>

<div class="margin"></div>

<div class="wrapper">
  <div class="wrapper-top">
    <div class="button-group">

      <div class="button-tog">
        Current Location
      </div>


        All Places



    </div>

    <!--

    Sort By Time
    <select>
      <option>Most Recent</option>
      <option>Least Recent</option>
    </select>
    <input type="text" placeholder="Filter Posts">

    -->
  </div>

  <div class="wrapper-content">
    <div id="posts">Loading nearby posts</div>
  </div>
</div>

<script>
  // Javascript to fetch user's location and fill with relevant posts
  $(function(){

      var p = {
          "coords": {
              "latitude": 40.7506,
              "longitude": -73.9936
          }
      }
      getPosts(p);

      $(".locator-img").click(function(){
          getLocation(getPosts);
      });

  });

	function getPosts(position) {
    var lat=position.coords.latitude;
		var lon=position.coords.longitude;
		var the_data = 'lat=' + encodeURIComponent(lat)
	               +'&lon=' + encodeURIComponent(lon);

		$.ajax({
		  data: the_data,
		  type: 'get',
		  url: '<%=j currloc_path %>'
		});
	}
</script>
