<div class="info-odd">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Find things around you within a specified Radius</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://dribbble.s3.amazonaws.com/users/71236/screenshots/728363/radius01_dribbble.jpg" />

    </div>

    <div class="span2"></div>

  </div>
</div>

<div class="info-even">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Create a Personalized Hub with your friend</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://www.myfreephotoshop.com/wp-content/uploads/2013/08/208.jpg" />

    </div>

    <div class="span2"></div>

  </div>
</div>

<div class="info-odd">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Create a Personalized Hub with your friend</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://www.zwallsstore.com/store/images/products/large_images/drs-0033-x-x-zwalls-custom-named-street-sign-with-pole-door-sign-3d-cartoon-wall-artwork-center-facing.jpg" />

    </div>

    <div class="span2"></div>

  </div>
</div>

<div class="info-even">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Create a Personalized Hub with your friend</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://www.myfreephotoshop.com/wp-content/uploads/2013/08/208.jpg" />

    </div>

    <div class="span2"></div>

  </div>
</div>

<div class="info-odd">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Create a Personalized Hub with your friend</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://bin-lightning.weebly.com/uploads/7/1/6/4/7164161/1886998.png?680" />

    </div>

    <div class="span2"></div>

  </div>
</div>

<div class="info-even">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Create a Personalized Hub with your friend</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://www.myfreephotoshop.com/wp-content/uploads/2013/08/208.jpg" />

    </div>

    <div class="span2"></div>

  </div>
</div>

<div class="info-odd">
  <div class="row">
    <div class="span2">

    </div>
    <div class="span3">
      <h4>Create a Personalized Hub with your friend</h4>
    </div>
    <div class="span1">

    </div>

    <div class="span4">
      <img src="http://www.zwallsstore.com/store/images/products/large_images/drs-0033-x-x-zwalls-custom-named-street-sign-with-pole-door-sign-3d-cartoon-wall-artwork-center-facing.jpg" />

    </div>

    <div class="span2"></div>

  </div>
</div>
