<div id="about-content">
  <h2>Terms and Conditions</h2>

  <h4>In using this website you are deemed to have read and agreed to the following terms and conditions:</h4>

  <h4>Scope and Purpose of this Disclaimer</h4>

  This disclaimer document governs your use of our informational website.
  By using the website located at {{SITE_URL}} and it’s subdirectories, you agree to, and accept this
  disclaimer in full. If you disagree with any part of this disclaimer, do not use our website, as that
  condition prohibits you from doing so. {{ORG_NAME}} reserves the right to modify these terms at any time,
  and thus, you should check for changes before proceeding to utilize the services and content of
  {{SITE_NAME}}. By using this site after changes have been made to this document, you agree to accept
  those changes, whether or not you have reviewed them.

  <h4>Rights to information published</h4>

  All materials on this site are protected by copyright and intellectual property laws and are the property of
  {{ORG_NAME}}. Unless stated otherwise, you may access and download the materials located on {{SITE_URL}}
  only for personal, non-commercial use. You may not reproduce this material on your personal website, blog,
  social network, or any other online resource.

  Any and all content (including user and visitor generated content) submitted either via email, comment forms,
  or any other page hosted at {{SITE_URL}} or its content aggregation systems becomes the property of
  {{SITE_NAME}}. {{SITE_NAME}} reserves the right to alter, remove, re-post, re-purpose, market, or trade
  any such content.

  <h4>Our Rights to Remove or Reproduce any User-Generated Material</h4>

  <p>
  For the purposes of this condition, the term “user-generated material” shall refer to any information,
  content, or any other media uploaded, posted, emailed, submitted, or otherwise communicated to {{SITE_NAME}}
  via any method at any page on {{SITE_URL}} or any other content communication or submission medium or forum.
  </p>

  <p>
  By sharing any contribution or user-generated content (including any text, photographs, graphics, video, audio
  or any other type of media or content) with {{SITE_NAME}} ({{SITE_URL}}) you agree to grant us, free of charge,
  permission to use the material in any way we deem fit (including the modification, reproduction, repurposing,
  or deletion of it). You hereby confirm that your contribution is your own original work, is not defamatory and
  does not infringe upon any laws of the country from which you are utilizing this site, nor the laws of Canada
  or The United States of America, and that you have the full rights to accept this condition.
  </p>

  <h4>Site content (quality, accuracy and use)</h4>

  <p>
  Visitors who use this website and rely on any information do so at their own risk.
  </p>

  <p>
  This Web site and the attached documents are provided “as is” without warranty of any kind, either express
  or implied, including, but not limited to, the implied warranties of merchantability and fitness for a
  particular purpose. Information found at {{SITE_URL}} will not always be up to date and cannot necessarily
  be relied upon.
  </p>

  <p>
  The information is intended solely for entertainment purposes and may not be used as a substitute for
    professional advice and/or information, as circumstances will vary from person to person. You should not
    act or rely upon this information without seeking professional advice. Do not attempt any of the suggested
    actions, solutions, remedies, or instructions found on this website without first consulting with a qualified professional. They are not intended to be nor do they constitute actionable professional advice. Transmission of this information is not intended to create a professional-client relationship between {{SITE_NAME}} (or it’s parent, {{ORG_NAME}}) and you.
  </p>

  <p>
  The owners, editors, contributors, administrators, and other staff of {{SITE_NAME}} (a {{ORG_NAME}} web property)
    are not qualified professionals, and are simply aggregating information found online for entertainment purposes
    only.
  </p>

  <p>
  By using this website, you hereby forfeit any and all claims, past, present, and future, against the owners,
    editors, contributors, administrators, and other staff of {{SITE_NAME}} (a {{ORG_NAME}} web property).
  </p>

  <h4>Restrictions on who can use the website</h4>

  <p>
  If you are under 18, please get a parent’s or guardian’s permission before taking part in any {{SITE_NAME}}
  community. Never reveal any personal information about yourself or anyone else (for example, school, telephone
  number, your full name, home address or email address).
  </p>

  <p>
  By visiting any page at {{SITE_URL}} you understand that “adult” content may be encountered that is not suitable
  for children. You must be at least 18 years of age or have a parent/guardian present while viewing any page
  or other correspondence or content from the {{SITE_NAME}} website, (which includes all content and code from
  any page hosted at or within {{SITE_URL}}, or any content or code relating to or from this site that was
  transmitted via email or other means). {{SITE_NAME}} (or it’s parent, {{ORG_NAME}}) can not be held responsible
  for any harm that is experienced, real or perceived, from viewing, following, or contributing, of any sort of
  content on this site.
  </p>

  <h4>External links – limiting liability for links to other web sites</h4>

  <p>
    We are not responsible for the contents or reliability of any other websites to which we provide a link,
    and we do not, expressly or otherwise, endorse the views and/or content expressed within those sites.
  </p>

  <h4>The Actions and Opinions of Other Users</h4>
  <p>
    You must not use this website in any way which is unlawful, illegal, fraudulent or harmful, or in
    connection with any unlawful, illegal, fraudulent or harmful purpose or activity. Some content found
    on the pages of {{SITE_NAME}} within {{SITE_URL}} and its subdirectories is created by members of the
    public. The views expressed are theirs and unless specifically stated are not those of {{SITE_NAME}}
    (or it’s parent, {{ORG_NAME}}). We accept no responsibility for any loss or harm incurred from the
    use of this website or any of it’s information or content.
  </p>

  <h4>Viruses, Damage and Availability</h4>
  <p>
    {{SITE_NAME}} (or it’s parent, {{ORG_NAME}}) makes no warranty or claim that functions available
    on this website will be uninterrupted or error free, that defects will be corrected, or that the
    server that makes it available, nor the content itself is and/or will be free of viruses, bugs, or
    other malicious code. You acknowledge that it is your responsibility to implement sufficient procedures
    and virus checks (including anti-virus and other security checks) to satisfy your particular
    requirements for the accuracy of data input and output, and for the security of yourself and the device
    used by you to view any content from this website.
  </p>

  <h4>Limited Liability</h4>
  <p>
  {{SITE_NAME}}, (and it’s parent, {{ORG_NAME}}) and its officers, employees, contractors or content providers
  shall not be liable for any loss or damage arising from or otherwise in connection with your use of any content,
  information, function, or service of {{SITE_NAME}} at any location within {{SITE_URL}} or other related location
  (such as content feeds, links, emails, letters, documents, and other company products or correspondence).
  </p>

  <p>
  Though we make a reasonable effort to maintain the resources of this website, they will, from time to time,
  become out of date, be incorrect, erroneous, or otherwise inappropriate. As noted above, by using this website
  you agree that you will not follow any instruction, suggestion, step, list, tutorial, or other content on this
  website or any of its content posted elsewhere untill you have appropriately consulted with a licensed
  professional who is unrelated to this site or it’s parent company in any way.
  </p>

</div>