<div id="about-content" class="usage-content">

<h4>You can send a Anonymous love message to love ones</h4>

<p>There is something I always wanted to say to my parents but never got around to say it.
  But here I am I shouted out to their neighborhood.</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post post-first">
      <div class="span9">

        <div class="post-header row-fluid">

          [你们的宝贝儿子]
          @
          [爸爸妈妈]
        </div>
        <div class="post-message row-fluid">
          我爱你们
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          12:49:40am - Oct 10, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="202 Lester Street, Waterloo, ON N2L 3W3, Canada" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Check out a scenery of a place before you go</h4>

<p>It reduces the risk of showing up only to find out that it is not worth it.
  You can pinpoint into that location and listen to what is going on in real time
</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Wants to go out Tonight]
          @
          [The Beta Club Crowd]
        </div>
        <div class="post-message row-fluid">
          Is the lineup huge right now?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:15:47pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>Post an anonymous compliment to your friend who has a private hub</h4>

<p>I told some of my friend that I have a private hub on Belloh. I encouraged them to give me
  feed backs anonymously. Something they cannot do on facebook or twitter.
  No hard feelings</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="positive" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Your Secret Crush]
          @
          [Dennis]
        </div>
        <div class="post-message row-fluid">
          You are super handsome. I aways liked you.
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:23:42pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>You may reject someone in a nice one. No face to face confrontation needed</h4>

<p>If you are a really good looking girl and you constantly get hit on. Ever get tired of that?
  Don't you want to tell them that you are not interested in a classy way? Belloh! is here for the rescue.
</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="negative" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [female in blue dress and heels]
          @
          [all the other guys in this club]
        </div>
        <div class="post-message row-fluid">
          I have a boyfriend I just wanna hang out. Stop hitting on me pleaaazzzz!
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:44:20pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>




<h4>You may send a warning message to those around you</h4>

<p>Ever had a bad experience with a product, service or food? You tested out and find out it is not worth it.
  But you want to warn those around you to not make the same mistake you did. You may do so anonymously with Belloh!
</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="caution" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Dissatisfied Customer]
          @
          [Fellow customers who are about to order]
        </div>
        <div class="post-message row-fluid">
          I ordered chicken wings, it taste absolutely disgusting. I warn you guys not to order it
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:44:02pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>You may wish to sell stuff like concert or sporting event tickets</h4>

<p>You may be out of breath for shouting too much. Belloh-ing requires very little energy.</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Scalper in red hat and Bautista Jersey]
          @
          [Rogers Center crowd]
        </div>
        <div class="post-message row-fluid">
          Anyone buying blue jays tickets. I'm selling them for 35 apiece.
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:38:55pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe" data-original-title="" title="">
        </div>
      </div>
    </div>
  </div>
</div>


<h4>You don't have to dress and come out of your room to say things</h4>

<div mood="neutral" class="row-fluid post ">
  <div class="span9">
    <div class="post-header row-fluid">

      [Sleeping roommate]
      @
      [Loud Roomates]
    </div>
    <div class="post-message row-fluid">
      homies, I have a midterm tomorrow and i'm trying to sleep. Can u tune it down a little?
    </div>
  </div>
  <div class="span3">
    <div class="post-time row-fluid">
      9:31:13pm - Oct 9, 13
    </div>
    <div class="row-fluid post-location">
      <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
    </div>
  </div>
</div>

<h4>You may send a customer complaint</h4>

<div mood="neutral" class="row-fluid post ">
  <div class="span9">
    <div class="post-header row-fluid">

      [Some guy to gets a coffee everymorning]
      @
      [Sandra at Burger King]
    </div>
    <div class="post-message row-fluid">
      Why do you have to be so rude to me. I've always been a good customer. Please show some professionalism towards your customers.
    </div>
  </div>
  <div class="span3">
    <div class="post-time row-fluid">
      9:57:16pm - Oct 9, 13
    </div>
    <div class="row-fluid post-location">
      <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
    </div>
  </div>
</div>

<h4>You may send a customer complaint</h4>
<h4>You may send a customer complaint</h4>
<h4>You may send a customer complaint</h4>

</div>
