<div id="about-content" class="usage-content">

<h4>You can send a Anonymous love message to love ones</h4>

<p>There is something I always wanted to say to my parents but never got around to say it.
But here I am I shouted out to their neighborhood.</p>

<div class="row-fluid">
   <div class="span1"></div>
   <div class="span11">
    <div mood="neutral" class="row-fluid post post-first">
      <div class="span9">

        <div class="post-header row-fluid">

          [你们的宝贝儿子]
          @
          [爸爸妈妈]
        </div>
        <div class="post-message row-fluid">
          我爱你们
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          12:49:40am - Oct 10, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="202 Lester Street, Waterloo, ON N2L 3W3, Canada" alt="Globe">
        </div>
      </div>
    </div>
   </div>
</div>

<h4>Check out a scenery of a place before you go</h4>

<p>It reduces the risk of showing up only to find out that it is not worth it.
   You can pinpoint into that location and listen to what is going on in real time
    </p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Wants to go out Tonight]
          @
          [The Beta Club Crowd]
        </div>
        <div class="post-message row-fluid">
          Is the lineup huge right now?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:15:47pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>Post an anonymous compliment to your friend who has a private hub</h4>

<p>I told some of my friend that I have a private hub on Belloh. I encouraged them to give me
feed backs anonymously. Something they cannot do on facebook or twitter.
No hard feelings</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="positive" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Your Secret Crush]
          @
          [Dennis]
        </div>
        <div class="post-message row-fluid">
          You are super handsome. I aways liked you.
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:23:42pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>You may reject someone in a nice one. No face to face confrontation needed</h4>

<p>If you are a really good looking girl and you constantly get hit on. Ever get tired of that?
Don't you want to tell them that you are not interested in a classy way? Belloh! is here for the rescue.
</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="negative" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [female in blue dress and heels]
          @
          [all the other guys in this club]
        </div>
        <div class="post-message row-fluid">
          I have a boyfriend I just wanna hang out. Stop hitting on me pleaaazzzz!
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:44:20pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>




<h4>You may send a warning message to those around you</h4>

<p>Ever had a bad experience with a product, service or food? You tested out and find out it is not worth it.
But you want to warn those around you to not make the same mistake you did. You may do so anonymously with Belloh!
</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="caution" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Dissatisfied Customer]
          @
          [Fellow customers who are about to order]
        </div>
        <div class="post-message row-fluid">
          I ordered chicken wings, it taste absolutely disgusting. I warn you guys not to order it
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:44:02pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>You may wish to sell stuff like concert or sporting event tickets</h4>

<p>You may be out of breath for shouting too much. Belloh-ing requires very little energy.</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Scalper in red hat and Bautista Jersey]
          @
          [Rogers Center crowd]
        </div>
        <div class="post-message row-fluid">
          Anyone buying blue jays tickets. I'm selling them for 35 apiece.
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:38:55pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe" data-original-title="" title="">
        </div>
      </div>
    </div>
  </div>
</div>


<h4>You don't have to dress and come out of your room to say things</h4>

<p>Your roommates are blasting music and being loud in the living room? You want it tell them in a subtle way
that you want them to quite down with Belloh.</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Sleeping roommate]
          @
          [Loud Roomates]
        </div>
        <div class="post-message row-fluid">
          homies, I have a midterm tomorrow and i'm trying to sleep. Can u tune it down a little?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:31:13pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



<h4>You may send a customer complaint</h4>

<p>You want to complain in a nice way? Ever had horrible services from waiters, cashiers?</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Some guy to gets a coffee everymorning]
          @
          [Sandra at Burger King]
        </div>
        <div class="post-message row-fluid">
          Why do you have to be so rude to me. I've always been a good customer. Please show some professionalism towards your customers.
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          9:57:16pm - Oct 9, 13
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>You may Belloh in a classroom or a conference</h4>

<p>Ever been afraid to ask a question? When the lecturer ask if anybody is lost. Even if you are lost but
you are afraid to raise your hand?</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="negative" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [confused Student]
          @
          [Fellow Students in class]
        </div>
        <div class="post-message row-fluid">
          I am so confused in this lecture. I'm afraid to raise my hands and ask questions. Does anyone else understand the concept?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:04:11 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Tipping off some people of incoming danger</h4>

<p>Want to be a responsible Citizen?</p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="caution" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Guy who passed Exit 16 on Highway 401]
          @
          [People behind me]
        </div>
        <div class="post-message row-fluid">
          There is a cop car hiding in this area. Be careful!
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 09:45:59 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Introduce yourself to others. Be friendly and approachable</h4>

<p></p>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="positive" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Girl in white shirt]
          @
          [boy in brown jacket]
        </div>
        <div class="post-message row-fluid">
          You are super cute, I noticed you checking me out. Why don't you come say hi to me? ;)
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 09:46:36 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Complimenting someone</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="positive" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Some Guy]
          @
          [girl standing infront of me]
        </div>
        <div class="post-message row-fluid">
          nice ass. :)
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 09:47:46 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Asking someone for a favor around you</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Guy in yellow Tshirt]
          @
          [Anyone]
        </div>
        <div class="post-message row-fluid">
          Anyone have a cigarette? I'll pay $2 for it
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 09:49:38 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Make a joke around you</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="caution" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Guy in this bus]
          @
          [fellow Riderz]
        </div>
        <div class="post-message row-fluid">
          is it me or did someone just fart?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:02:32 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Making a frustrating statement</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="negative" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [some guy]
          @
          [people who uses this washroom]
        </div>
        <div class="post-message row-fluid">
          this washroom smells so bad. I wanna to puke everytime I come in here
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:11:22 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Wishing everyone happy holidays</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="positive" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [A happy fellow]
          @
          [Everyone]
        </div>
        <div class="post-message row-fluid">
          Merry Christmas!!!!
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:20:11 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Asking for directions</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="negative" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Someone who needs to go]
          @
          [Everyone in this auditorium]
        </div>
        <div class="post-message row-fluid">
          Does anyone know where the washroom is?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:21:06 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Lost and found</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="caution" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Someone who lost my Iphone]
          @
          [Everyone who was around]
        </div>
        <div class="post-message row-fluid">
          Anyone seen an Iphone 5 with a red sticker? I don't want to accuse anybody but if you saw someone who took it? Can you let me know?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:22:19 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Selling and Buying stuff</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Econ 202 student]
          @
          [students]
        </div>
        <div class="post-message row-fluid">
          Buying econ 202 textbook 4th edition? any have it or anyone who know anyone who has it?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Wed, 09 Oct 2013 10:25:29 pm
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>

<h4>Find out if anybody who speaks your language</h4>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span11">
    <div mood="neutral" class="row-fluid post ">
      <div class="span9">
        <div class="post-header row-fluid">

          [Mandarin speaker]
          @
          [Everyone else]
        </div>
        <div class="post-message row-fluid">
          anyone who speaks mandarin here?
        </div>
      </div>
      <div class="span3">
        <div class="post-time row-fluid">
          Thu, 10 Oct 2013 12:37:39 am
        </div>
        <div class="row-fluid post-location">
          <img src="/assets/tiles/globe.png" rel="tooltip" data-title="null" alt="Globe">
        </div>
      </div>
    </div>
  </div>
</div>



</div>


