<div class="span12">
  <div id="header">
    <div id="about">
        <h4>Check out a sceneary of a place before you go</h4>

        <p>
          <%= image_tag("bellohs/club.png") %>

        </p>

      <h4>Post an anonymous compliment to your friend who has a private hub</h4>

      <p>
        <%= image_tag("bellohs/crush.png") %>

      </p>


    </div>
  </div>
</div>