<div id="posts">Loading nearby posts</div>

<%= link_to 'New post', new_post_path, class: 'btn' %>

<script>
  // Javascript to fetch user's location and fill with relevant posts
	$(function() {
	  getLocation(setPosition);
	});
		
	function setPosition(position) {			
    var lat=position.coords.latitude; 
		var lon=position.coords.longitude;
		var the_data = 'lat=' + encodeURIComponent(lat)
	               +'&lon=' + encodeURIComponent(lon);
		$.ajax({
		  data: the_data,
		  type: 'get',
		  url: '<%=j currloc_path %>'
		});
	}
</script>
