/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{

  background: image-url('https://uwaterloo.ca/includes_new/images/homepage/solar-car-DC.jpg') no-repeat center center fixed;
  //background: image-url('bkg/rainbow.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
}

/* Picture of the hippo */
.nav img {
	margin-top: 2px;
	padding-bottom: 2px;
}

.nav {
	.brand {
	  padding: 10px !important;
  }
}

.nav li a {
	padding: 0 !important;
}

.navbar {
  background: #3B3B3D !important;

}

.brand {
  color: #FFF !important;
}

.navbar-inner {
	box-shadow: 0 0 10px 1px black !important;
    //background: #3B3B3D !important;
    background-image: linear-gradient(to bottom, #5A5A66, #313140) !important;

	#nav-center {
	  margin: auto;
	  width: 900px;
	  font-size: 24pt;
	}
}

#about {
  background-image: linear-gradient(to bottom, #FFFFFF, #CCCCCC);
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;

  h4 {

  }
}


@import "bootstrap";

