/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{

  background: image-url('bkg/rainbow.png') no-repeat center center fixed;

  //background: image-url('https://uwaterloo.ca/includes_new/images/homepage/solar-car-DC.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.splash {
  background: #FFF;
}

input[type=text] {
	height: 15px !important;
}

input, textarea {
  border-radius: 3px !important;
	font-size: 10pt !important;
}

/* Picture of the hippo */
.nav img {
	margin-top: 2px;
	padding-bottom: 2px;
}

.nav {
	.brand {
	  padding: 10px !important;
     font-family: 'Lemon', cursive !important;
  }
}

.brand-custom{
  font-family: 'Lemon', cursive !important;
}

.nav li a {
	padding: 0 !important;
}

.navbar {
  background: #3B3B3D !important;
}

.brand {
  color: #FFF !important;
}

body.founders {
  background: image-url('bkg/foundersden.jpg') no-repeat center center fixed;
  background-size:1300px 900px !important;
}

#logo-img{
  margin-top: 7px !important;
}

.belloh-brackets {
  color: #FFF !important;
  margin-left: 5px !important;
  margin-right: 15px !important;
  margin-top: 4px !important;
  font-weight: bold;
}

.navbar-inner {
	box-shadow: 0 0 10px 1px black !important;
  border: none !important;
  background-image: linear-gradient(to bottom, #5A5A66, #313140) !important;

	#nav-center {
	  margin: auto;
	  width: 900px;
	  font-size: 24pt;
	}
}

.navbar-found .navbar-inner {
  background-image: linear-gradient(to bottom, #5A5A66, #313140) !important;
}

#about {
  background-image: linear-gradient(to bottom, #FFFFFF, #CCCCCC);
  margin-left: 15px;
  margin-right: 15px;
  padding: 40px 80px !important;
  margin-top: 15px;
  border-radius: 5px !important;

  h4 {

  }
}

.intro-bar {
  width: 100%;
  height: 200px;
  background: #846D75;
  color: white;
}

.info-odd{
  width: 100%;
  height: 300px;
  background: #FFF;
}

.info-even{
  width: 100%;
  height: 300px;
  background: #E4D8DE;
}

.hubbable {
  width: 200px;
  height: 250px;
  border: 1px solid #ddd;
  float: left;
}

.navbar-fixed-top {
  height: 40px !important;
}

.footer {
  width: 100%;
  height: 20px;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif !important;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #252538, #111122) !important;
  opacity: 0.9;
  position: fixed;
  bottom: 0px;
  box-shadow: 0 0 6px 3px black !important;
  color: white;
  font-size: 11px;
  font-weight: bold;

  .footer-left {
    margin-left: 30px;
    float:left;

    span {
      margin-right: 10px;

      a{
       color: #FFF !important;

      }

      a:hover {
        text-decoration: none !important;
      }

      a:visited{
        text-decoration: none !important;
      }
    }
  }

  .footer-right {
    float: right;
    margin-right: 30px;

    .copyright-symbol {
      font-size: 13px;
    }
  }
}

.languages  {
  margin-top: 2px !important;
  a{
    font-size: 12px !important;
    color: #FFF !important;
    text-decoration: none !important;
  }

  a:hover {
    color: #FFF !important;
    text-decoration: none !important;
  }

  a:visited {
    color: #FFF !important;
    text-decoration: none !important;
  }

}

.inside-button {
  padding-top: 10px !important;
  font-weight: bold;
}

@import "bootstrap";

