// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-neutral {
  background-image: linear-gradient(to bottom, #F5F5F5, #E6E6E6);
}

.post-positive {
  background-image: linear-gradient(to bottom, #AFD07B, #89AE47);
}

.post-negative {
	background: pink;
}

.post-caution {
	background: lightyellow;
}

.post {	
  border-bottom: 1px solid #CCC;
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5A5956 !important;

  .post-content {
    margin-left: 10px;
    margin-right: 10px;

	  .sender, .receiver {
	    font-weight: bold;
	  }
	
    .post-message {
      margin-top: 5px;
      font-size: 10pt;
    }
  }

  .post-details {
	  float: right;
    font-size: 9pt;
    margin-top: -50px;
    margin-right: 10px;
  
	  .post-time {
	    font-style: italic;
	  }

	  .post-location {
	  }
  }
}