// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[mood=neutral] {
  border: 5px solid #fff;
  background: #fff;
  color: black !important;
}

[mood=positive] {
  color: black !important;
  background: #24bf51;
  border: 5px solid #24bf51;
}

[mood=negative] {
  background: #c00;
  border: 5px solid #c00;
  color: black !important;
}

[mood=caution] {
  color: black !important;
  background: #ff7f00;
  border: 5px solid #ff7f00;
}

.post-splitter {
	border-bottom: 1px solid #e3e3e3;
  margin: 5px -20px; 
}

.post {
  .tooltip-inner {
    white-space:pre-wrap;
  }

  .span11 {
	  border-radius: 5px;
	  padding: 10px;
	  background: white;
	  .post-header {
	    font-weight: bold;
	    margin-bottom: 6px;
	  }
	  .post-message {
	  }
  }
  
  .post-time {
    font-style: italic;
  }

  .post-location {
	width: 20px;
    right: 0px;
    top: 3px;
  }
}