// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  margin: 0;
  padding: 0;
  height: 400px !important;
  img { 
	  max-width: none; 
	}
}

#posts-header {
	#new_post_box {
	  padding: 20px;
	  background: #fff !important;
	  border-radius: 5px;
		form {
			margin: 0;
			#new_post_header {
				font-size: xx-large;
				margin-bottom: 10px;
				text-align: center;		    
				input {
					margin: auto;
					margin-top: -3px;
					width: 180px;
				}
			}
			
			#new_post_content {
				margin-bottom: 0;
				.add-on {
					padding-right: 0px !important;
					background: none;
					border: none;
					.nav {
						margin: 0 !important;
						.dropdown-toggle {
							background: none !important;
							outline: none !important;
							border-color: inherit !important;
							img {
								padding-right: 5px;
								width: 40px;
							}	
						}
						.triangle-bottomright { 
						    border-bottom: 10px solid black;
						    border-left: 10px solid transparent;
						    margin-left: 34px;
						    margin-right: 1px;
						}
						.dropdown-menu {
							min-width: 0;
							width: 100px;
							padding: 4px;
							.row-fluid {
						    .mood-option {
							    width: 50px;
							    cursor: pointer;
									opacity: 0.7;
									border: 0 !important;
						    }
					    }
					  }
					}
				}
				textarea {
					width: 430px;
					height: 40px;
					resize: none;
					border-radius: 0 !important;
					margin: 0 !important;
				}
		  }
		}	
	}
}

#sidebar {
	text-align: center;
	/* VERY IMPORTANT. MAKES THE SCROLL MUCH SMOOTHER ON CHROME */
	-webkit-transform: translateZ(0); 
	width: 280px;
	top: 10px;

  .nav-pills > li {
	  float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
	}
	
  #map-container {
		width: 210px !important;
		height: 210px !important;
		margin: auto;
		#map {
		 border-radius: 5px;
     text-align: center;
		}
  }
	
	#geostatus {
	  font-weight: bold;
	  margin: 10px;
	}

  #all-locations, #current-location {
    cursor: pointer;
  }
	
	#location_search {
		margin-top: 10px;
	}
}

#posts {
	#filter-bar {
		#filter {
			width: 380px !important;
		}
		.nav-pills {
			margin-top: -2px;
		}
	}
}


#sidebar {
	background: rgba(245,245,245,0.7);
}

.pac-container {
	position: fixed !important;
	width: 350px !important;
}


