// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
	background: pink;
	padding: 30px 0 30px 0;
	margin-bottom: 10px;
	
	#new_post_box {
	  padding: 10px;
	  margin: 0 auto;
	  width: 545px;
	  border-radius: 10px;
	  box-shadow: 0 0 2px 1px #00000F;
	
		#new_post_header {
			font-size: x-large;
			margin: auto;
			width: 530px;
		}
		form {
			margin: 0;
		}
	}
}

#sidebar {
	margin-left: 10px;
	text-align: center;
	#map {
		margin-top: 10px;
		border-radius: 10px;
	}
	
	#geostatus {
	  font-weight: bold;
	  font-size: 10pt;
	  color: #FFF;
	  margin: 10px;
	}
	
	#current-location {
		margin-left: 30px;
	}

	#all-locations {
		margin-right: 30px;
	}

  #all-locations, #current-location {
		width: 60px;
    border-radius: 10px;
    cursor: pointer;
  }
	
	#location_search {
		width: 180px;
		margin: 10px;
	}
}

#sidebar, #header {
	border-radius: 10px 10px 0 0;
}

#filter {
	padding: 10px 30px 10px 30px;
	input {
	  margin: 0;
	}
}

#sidebar, #content, #header {
	background: image-url('bkg/debut_dark.png'); 
  box-shadow: 0 0 5px 1px black;
}

#posts {
	padding: 10px 30px 10px 30px;
}